html {
    background-color: #1D2A52;
  }

h1 {
    font-family: system-ui;
    color: white;
    text-align: center;
    font-size: 5px;
  }
#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #946232;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 0.5em;
  }


