h1 {
    font-family: system-ui;
    color: white;
    text-align: center;
  }

  .navbar {
    background-color: #946232;
    height: 50px;
  }
  
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
  .logo {
    display: inline;
  }
  
  .logo a {
    color: #ffc078;
    margin-top: 1em;
    margin-bottom: 1em;
    text-decoration: none;
    line-height: 50px;
    font-size: 24px;
  }
  
  .logo .fa-music {
    color: #ffc078;
    margin-right: 1em;
  }
  
  .menu {
    float: right;
  }
  
  .menu li {
    float: left;
  }
  
  .menu a {
    display: flex;
    margin-right: 10px;
    color: #ffc078;
    text-decoration: none;
    line-height: 50px;
    padding: 0 1em;
  }
  
  .menu a:hover {
    background-color: #ffc078;
    color: #333;
  }