html {
    background-color: #1D2A52;
    margin: 0;
  }

h1 {
    font-family: SimSun;
    color: white;
    text-align: center;
    font-size: 5px;
  }
.wrap{
    width: 100%;
    margin: 0 auto;
  }
#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #946232;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 0.5em;
    z-index: 2;
  }
#logo {
    text-align: center;
    position:relative;
    top: 40px;
    z-index: 1;
}
#main {
    left: 0;
    margin-top: 40px;
}


