html{
    background-color: #1D2A52;
}

#pic {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
}

#threedots {
    display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  width: 325px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 60%;
}


.center {
    display: block;
      display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
  }

.circle{
  opacity: 0;
  visibility: hidden;
}

  #outer{
    position: absolute;
    left: 46vw;
    top: 29.5vh;
    width: 7em;
  }
  #inner{
    position: absolute;
    left: 46vw;
    top: 29.5vh;
    width: 7em;
  }
  #finger{
    position: absolute;
    left: 46vw;
    top: 29.5vh;
    width: 7em;
  }
  #logoBig{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  