html{
    background-color: #1D2A52;
}

#pic {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
}

#threedots {
    display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  width: 325px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 60%;
}


.dot {
    display: block;
      display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
  }