html {
    background-color: #1D2A52;
  }

h1 {
    font-family: SimSun;
    color: white;
    text-align: center;
    font-size: 0.01vw;
  }
.wrap{
    width: 100%;
    margin: 0;
  }
#navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #946232;
    padding: 0.5em;
    z-index: 4;
  }

  ul {
  padding: 0;
  }
  
  a {
  display: inline-block;
  text-decoration: none;
  color: #666;
  }
  
  .menu {
  position: relative;
  max-width: 200px;
  margin: 0 auto;
  list-style-type: none;
  top: 68px;
  left: 35%;
  z-index: 3;
  }
  

  .drop-down {
  position: relative;
  }
  
  .submenu {
  position: relative;
  opacity: 0;
  width: 100%;
  z-index: 8;
  transition: opacity .5s ease;
  }
  
  .submenu-item {
  display: block;
  height: 0px;
  overflow: hidden;
  transition: height .5s ease;
  }
  
  .drop-down:hover .submenu {
  opacity: 1;
  }
  
  .drop-down:hover .submenu-item {
  overflow: visible;
  height: 30px;
  }
  

  .item {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  color: #ddd;
  background-color: #1D2A52;
  }
  
  .item:hover {
  background: #ddd;
  }
  
  .submenu-item {
  background: #333;
  color: #eee;
  width: 100%;
  padding-left: 20px;
  line-height: 30px;
  }
  
  .submenu-item:hover {
  background: #555;
  }
  
  .now .item {
  background: #ddd;
  }
  
  .now .submenu {
  opacity: 1;
  }
  
  .now .submenu-item {
  background: #555;
  overflow: visible;
  height: 30px;
  }
  
#logo {
    position:absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-40%);
    z-index: 1;
}

#arrow {
  max-width: 95%;
  position:fixed;
  z-index: 5;
  top: 7px;
  margin-left: 2.5%;
}

#main {
    margin-top: 40px;
    position: relative;
    top: 60px;
}


