html{
    background-color: #1D2A52;
}

#main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

#dot {
    display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.dot {
    display: block;
      display: flex;
    align-items: center;
    justify-content: center;
  }